<section class="pt-4">

    <table>
        <td class="col-6">
             <h1>Pregunta</h1>
        </td>
        <td class="col-2">
            <form class="form-inline">
                <input name="buscar" class="form-control mr-sm-2" type="search" placeholder="Id" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </td>
    </table>

    <div class="container">
        <div class="row">

            {{#each Comunidad}}
            <div class="card col-lg-10 offset-lg-1 pt-2 mb-4">
                <h5 class="card-header" style="background-color: #993F2B;">Título: {{Titulo}}</h5>
                <div class="card-body">
                    <p>Descripción: {{Descripcion}}</p>
                    <p>Categoría: {{Categoria}}</p>
                    <p>Usuario: {{fkUsuario}}</p>
                    <img class="card-img-top">Imagen: {{Imagen}}</img>
                </div>
            </div>
            {{/each}}
        </div>

        <h4>Respuestas</h4>
        <div class="row">
            {{#each Comunidadc}}
            <div class="card col-lg-8 offset-lg-2 pt-2 mb-4">
                <h5 class="card-header" style="background-color: #FF937A;">Respuesta: {{Id}}</h5>
                <div class="card-body">
                   <p>Respuesta: {{Respuesta}}</p>
                    <p>Pregunta: {{fkPregunta}}</p>
                    <p>Usuario: {{fkUsuario}}</p>
                    <img class="card-img-top">Imagen: {{Imagen}}</img>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>  