<section class="pt-4">
    <div class="container">
        <h2>Preguntas</h2>
        <div class="row">

            {{#each Preguntas}}
            <div class="card col-lg-8 offset-lg-2 col-md-10 offset-md-1 pt-2 mb-4">
                <h5 class="card-header" style="background-color: #1C996C;">Título: {{Titulo}}</h5>
                <div class="card-body">
                   <table>
                        <td class="col-7">
                            <p>Descripción: {{Descripcion}}</p>
                            <p>Categoría: {{Categoria}}</p>
                            <p>Usuario: {{fkUsuario}}</p>
                            <img class="card-img-top">Imagen: {{Imagen}}</img>
                        </td>

                        <td class="col-1">
                            <a href="/vistas/delete/{{Id}}" class="btn btn-danger">Eliminar</a> <br><br>
                            <a href="/vistas/edit/{{Id}}" class="btn btn-secondary">Editar</a>
                        </td>
                   </table>
                </div>
            </div>

            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay preguntas registradas</p>
                    <a href="/vistas/preguntas">Agrega una</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>  